body {
    background-color: #ececec;
}
h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

h4 {
    margin-top: 30px;
    color: #222;
    margin-bottom: 10px;
}

.legal-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    
    color: #333;
    background-color: #ececec;
    margin-bottom: 50px;

}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 200px;
    }
    .legal-page {
        padding: 10px;
        font-size: 14px;
    }
    
}